### importing requried modules

In [1]:
#import pandas as pd
import numpy as np
import urllib


import matplotlib.pyplot as plt  # To visualize

from sklearn.linear_model import LinearRegression

import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
import sys

### Dataset 1 - road_traffic_counts_station_reference

In [ ]:
df1_path = 'https://drive.google.com/uc?id=1BOTNBWJCSc1RxbRJmC_w0vhkMZVECMaL'
df1 = pd.read_csv(df1_path)
df1.head() #shows the head of dataset before any changes.

In [4]:
#dropping columns from the dataset
to_drop = ['the_geom','cartodb_id','the_geom_webmercator','record_id','name','full_name','common_road_name',
           'secondary_name','road_name_base','road_number','link_number','mab_way_type','mab_way_number',
           'mab_identifier','road_on_type','road_classification_admin','rms_region','lga','device_type',
           'heavy_vehicle_checking_station','permanent_station','lambert_easting','lambert_northing','direction_seq','publish','md5','updated_on'
           ]

df1.drop(to_drop, inplace=True, axis=1)

In [ ]:
df1.head() #shows the changes to the dataset.

In [6]:
#df1 = pd.DataFrame.astype(columns=['post_code'])

### Dataset 2 - road_traffic_counts_yearly_summary

In [ ]:
df2_path = 'https://drive.google.com/uc?id=1Hgv1io1e1Ca8qmbaxY0gsX_fgz5Tl0jB'
df2 = pd.read_csv(df2_path)
df2.head() #shows the head of dataset before any changes.

In [ ]:
#dropping columns from the dataset
to_drop2 = ['the_geom','cartodb_id','the_geom_webmercator','record_id','traffic_direction_seq','traffic_direction_name',
            'cardinal_direction_seq','cardinal_direction_name','classification_seq','count_type',
            'data_start_date','data_end_date','data_duration','publish','md5','updated_on', 'latest_date'
           ]

df2.drop2(to_drop2, inplace=True, axis=1)

In [ ]:
df2.head() #shows the dataset after removing columns

In [ ]:
X = df2[["station_key"]]
y = df2[["traffic_count"]]

regressor = LinearRegression()
regressor.fit(X, y)

y_pred = regressor.predict(X)

plt.scatter(X, y, color = 'red')
plt.plot(X, regressor.predict(X), color = 'blue')
plt.title('year vs traffic')
plt.xlabel('year')
plt.ylabel('traffic_count')
plt.show()

##Dataset 3 - road_traffic_counts_hourly_sample

---

In [3]:
hourly_samples_path = 'https://drive.google.com/uc?id=1URz3Zp1sS9n8cK0H47RJiNdV55LxXiYY'
df3 = pd.read_csv(hourly_samples_path)
df3.head() #display the head of the hourly sample dataset

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (12,13,40) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,the_geom,cartodb_id,the_geom_webmercator,record_id,station_key,traffic_direction_seq,cardinal_direction_seq,classification_seq,date,year,...,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,md5,updated_on
0,NaN,226714,NaN,NaN,58308,0,3,0,2010-05-24 00:00:00+00,2010,...,23.0,20.0,17.0,3.0,5.0,5.0,1.0,0.0,a0c8608b8d15dfd8b28c96bdff96ea6f,2018-06-12 05:16:50.885412+00
1,NaN,226715,NaN,NaN,58260,1,7,0,2006-05-10 00:00:00+00,2006,...,17.0,16.0,8.0,3.0,5.0,6.0,4.0,2.0,264a654a854aaf481c21b748d5ac18d3,2018-06-12 05:16:50.885412+00
2,NaN,226716,NaN,NaN,58333,0,3,0,2006-05-11 00:00:00+00,2006,...,17.0,18.0,8.0,3.0,3.0,3.0,0.0,1.0,9bdadee8611e83b6caba5ac6507ba0a0,2018-06-12 05:16:50.885412+00
3,NaN,226717,NaN,NaN,58308,1,7,0,2010-05-31 00:00:00+00,2010,...,7.0,11.0,8.0,3.0,2.0,1.0,0.0,2.0,70b9c041abfc5e27a8016c6ff1ce75a3,2018-06-12 05:16:50.885412+00
4,NaN,226718,NaN,NaN,58308,0,3,0,2006-05-14 00:00:00+00,2006,...,11.0,10.0,12.0,8.0,2.0,2.0,0.0,0.0,99fd24bfc22ded71840ab214723c8b4d,2018-06-12 05:16:50.885412+00

In [4]:
df3.drop(columns = ["the_geom","cartodb_id","the_geom_webmercator","record_id","classification_seq","md5","updated_on"], inplace=True, axis =1)
#remove the excess data not required to train model

df3.head()

,station_key,traffic_direction_seq,cardinal_direction_seq,date,year,month,day_of_week,public_holiday,school_holiday,daily_total,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,58308,0,3,2010-05-24 00:00:00+00,2010,5,1,false,false,186,...,10.0,17.0,23.0,20.0,17.0,3.0,5.0,5.0,1.0,0.0
1,58260,1,7,2006-05-10 00:00:00+00,2006,5,3,false,false,198,...,13.0,7.0,17.0,16.0,8.0,3.0,5.0,6.0,4.0,2.0
2,58333,0,3,2006-05-11 00:00:00+00,2006,5,4,false,false,227,...,16.0,24.0,17.0,18.0,8.0,3.0,3.0,3.0,0.0,1.0
3,58308,1,7,2010-05-31 00:00:00+00,2010,5,1,false,false,177,...,15.0,19.0,7.0,11.0,8.0,3.0,2.0,1.0,0.0,2.0
4,58308,0,3,2006-05-14 00:00:00+00,2006,5,7,false,false,117,...,9.0,11.0,11.0,10.0,12.0,8.0,2.0,2.0,0.0,0.0

In [ ]:
#pre_processing 
grouped = df3.groupby(['station_key'])
grouped.head()

##Tute Sample Linear Reg

In [14]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
import sys



def main():
    input = 'high_diamond_ranked_10min.csv'
    df = pd.read_csv(input)
    
    x, y = pre_processing(df)
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=10)
    
    model = LinearRegression()
    model.fit(x_train,y_train)

    evaluate(model, x_train, y_train, x_test, y_test)

    return

def pre_processing(dataframe):
    #include attributes of blue side
    features = dataframe.iloc[:, 1:20]
    columns_drop = ["blueWins","blueTotalGold",  "blueGoldDiff" ,"blueExperienceDiff", "blueTowersDestroyed"]
    features = features.drop(columns_drop, axis=1)
    target = dataframe.iloc[:, 12]
    
    return features, target

def evaluate(model, x_train, y_train, x_test, y_test ):
    if(model == None):
        print("Model does not exist")
        return

    print(f"Train accuracy {model.score(x_train,y_train)} ")
    print(f"Test accuracy {model.score(x_test,y_test)} ")
    return


main()

Train accuracy 0.9182504312801755
Test accuracy 0.9219011254023662

##Linear Reg for Hourly Sample

In [29]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
import sys

def main():
    hourly_samples_path = 'https://drive.google.com/uc?id=1URz3Zp1sS9n8cK0H47RJiNdV55LxXiYY'
    df = pd.read_csv(hourly_samples_path)

    df.groupby(['station_key']) #group the data by station
    
    x, y = pre_processing(df)
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=10)
    
    model = LinearRegression()
    model.fit(x_train,y_train)

    evaluate(model, x_train, y_train, x_test, y_test)

    return

def pre_processing(dataframe):
    features = dataframe.iloc[0:20, 10:39]
    columns_drop = ["month","day_of_week", "public_holiday", "school_holiday"]
    features = features.drop(columns_drop, axis=1)
    target = dataframe.iloc[0:20, 4]
    
    return features, target

def evaluate(model, x_train, y_train, x_test, y_test ):
    if(model == None):
        print("Model does not exist")
        return

    print(f"Train accuracy {model.score(x_train,y_train)} ")
    print(f"Test accuracy {model.score(x_test,y_test)} ")
    return

main()

Train accuracy 1.0
Test accuracy -1.372302021833713

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: DtypeWarning: Columns (12,13,40) have mixed types.Specify dtype option on import or set low_memory=False.