#Cleaning Our Datasets

### importing requried modules

In [2]:
import pandas as pd
import numpy as np
import urllib

### Dataset 1 - road_traffic_counts_station_reference

In [23]:
df1_path = 'https://drive.google.com/uc?id=1BOTNBWJCSc1RxbRJmC_w0vhkMZVECMaL'
df1 = pd.read_csv(df1_path)
df1.head() #shows the head of dataset before any changes.

,the_geom,cartodb_id,the_geom_webmercator,record_id,station_key,station_id,name,road_name,full_name,common_road_name,...,vehicle_classifier,lambert_easting,lambert_northing,wgs84_latitude,wgs84_longitude,direction_seq,quality_rating,publish,md5,updated_on
0,NaN,5557,NaN,NaN,15828002,7211,Lily Lane,Lily Lane,"Lily Lane, South of Fern Circuit",Lily Lane,...,1,9740191,4524353.5,-32.940571,151.713120,7,5,True,be6e76534a9cbe57941a6971d910a6eb,2018-06-12 02:48:41.978017+00
1,NaN,5558,NaN,NaN,58612,97340,Oxley Avenue,Oxley Avenue,"Oxley Avenue, North of High Street",Oxley Avenue,...,0,9163953,4473475.5,-33.480766,145.534805,9,5,True,417b961c9a41b3a2f7ce41fa423d8977,2018-06-12 02:48:41.978017+00
2,NaN,5559,NaN,NaN,56692,19035,Sydenham Road,Sydenham Road,"Sydenham Road, West of Victoria Road",Sydenham Road,...,0,9684475,4419245.0,-33.909630,151.162048,10,5,True,710efc78db32af23f3a6ed4870bc7aeb,2018-06-12 02:48:41.978017+00
3,NaN,5560,NaN,NaN,58856,99931,Castlereagh Highway,Castlereagh Highway,"Castlereagh Highway, South of Abattoirs Road",Castlereagh Highway,...,1,9539223,4573615.5,-32.559254,149.549698,9,5,True,4dbb7f7bd091635de8b3a10399455245,2018-06-12 02:48:41.978017+00
4,NaN,5561,NaN,NaN,56098,05622,Hanbury Street,Hanbury Street,"Hanbury Street, East of Waratah Street",Hanbury Street,...,0,9742526,4528977.0,-32.897934,151.735840,9,5,True,b5b01373fb1bc06495989748e45e918b,2018-06-12 02:48:41.978017+00

In [24]:
#dropping columns from the dataset
to_drop = ['the_geom','cartodb_id','the_geom_webmercator','record_id','name','full_name','common_road_name',
           'secondary_name','road_name_base','road_number','link_number','mab_way_type','mab_way_number',
           'mab_identifier','road_on_type','road_classification_admin','rms_region','lga','device_type',
           'heavy_vehicle_checking_station','permanent_station','lambert_easting','lambert_northing','direction_seq','publish','md5','updated_on'
           ]

df1.drop(to_drop, inplace=True, axis=1)

In [31]:
df1.head() #shows the changes to the dataset.

,station_key,station_id,road_name,road_name_type,intersection,distance_to_intersection,road_functional_hierarchy,lane_count,road_classification_type,suburb,post_code,vehicle_classifier,wgs84_latitude,wgs84_longitude,quality_rating
0,15828002,7211,Lily Lane,Lane,Fern Circuit,40,Local Road,OneLane,Lane,Adamstown,2289.0,1,-32.940571,151.713120,5
1,58612,97340,Oxley Avenue,Avenue,High Street,60,Arterial Road,TwoOrMoreLanes,Avenue,Hillston,2675.0,0,-33.480766,145.534805,5
2,56692,19035,Sydenham Road,Road,Victoria Road,20,Arterial Road,TwoOrMoreLanes,Road,Marrickville,2204.0,0,-33.909630,151.162048,5
3,58856,99931,Castlereagh Highway,Highway,Abattoirs Road,110,Primary Road,TwoOrMoreLanes,Highway,Menah,2850.0,1,-32.559254,149.549698,5
4,56098,05622,Hanbury Street,Street,Waratah Street,20,Arterial Road,TwoOrMoreLanes,Street,Mayfield,2304.0,0,-32.897934,151.735840,5

In [32]:
df1 = pd.DataFrame.astype(columns=['post_code'])

AttributeError: ignored

### Dataset 2 - road_traffic_counts_yearly_summary

In [ ]:
df1 = pd.read_csv('/content/road_traffic_counts_yearly_summary.csv')
df1.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,the_geom,cartodb_id,the_geom_webmercator,record_id,station_key,station_id,traffic_direction_seq,traffic_direction_name,cardinal_direction_seq,cardinal_direction_name,...,traffic_count,data_start_date,data_end_date,data_duration,data_availability,data_reliability,data_quality_indicator,publish,md5,updated_on
0,NaN,181393,NaN,NaN,58875,F3FWY006,2,PRESCRIBED AND COUNTER,9,BOTH,...,2178,NaN,NaN,NaN,-1,-1,0,1,b5cc8afd807d718fa40f2b7872458136,2018-07-09 03:45:51.087472+00
1,NaN,181394,NaN,NaN,56980,43246,1,PRESCRIBED,1,NORTH,...,18049,NaN,NaN,NaN,23,100,0,1,7a3f1cac5b1418067160da2436693738,2018-07-09 03:45:51.087472+00
2,NaN,181396,NaN,NaN,25868001,29010,0,COUNTER,5,SOUTH,...,2879,NaN,NaN,NaN,24,98,0,1,67dbe0263e4b13b3a061818df4cd6007,2018-07-09 03:45:51.087472+00
3,NaN,181397,NaN,NaN,58875,F3FWY006,0,COUNTER,5,SOUTH,...,28959,NaN,NaN,NaN,33,97,0,1,e3b13d6012accb820da3f255802aa073,2018-07-09 03:45:51.087472+00
4,NaN,181398,NaN,NaN,55849,05167,0,COUNTER,5,SOUTH,...,473,NaN,NaN,NaN,30,100,0,1,6dd7bb4ac274e1fec1791fcff4310618,2018-07-09 03:45:51.087472+00

In [ ]:
print("Hello")

Hello